<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Create New Book Info</title>
</head>
<body>
	<div align="center">
		<h1 style="color:green">Create New Book</h1>
		<br />
		<form action="#" th:action="@{/save}" th:object="${book}"
			method="post">
			<table border="0" cellpadding="10">


				<tr>
					<td>Book Name:</td>
					<td><input type="text" th:field="*{name}" /></td>
				</tr>

				<tr>
					<td>Author Name</td>
					<td><input type="text" th:field="*{author}" /></td>
				</tr>

				<tr>
					<td>Price:</td>
					<td><input type="text" th:field="*{price}" /></td>
				</tr>

				<tr>
					<td colspan="2"><button type="submit" style="color:green">Save</button>
				</tr>

			</table>
		</form>

	</div>

</body>
</html>